Conversations with the actors of what we broadly call "web3", developers, founders, artists, anons, users, a photographic series with the goal of raising funds for public goods. All profits are distributed to Gitcoin and protocol guild.
<br>
<i>Auctions launching soon</i>
<br>
<a href="twitter.com/huweb3">twitter.com/huweb3</a>