Conversations with the actors of what we broadly call "web3", developers, founders, artists, anons, users, a photographic series with the goal of raising funds for public goods. All profits are distributed to Gitcoin and protocol guild.
<br><br>
<i>Auctions launching soon</i>
<br><br>
<a href="https://twitter.com/huweb3">twitter.com/huweb3</a>
<br><br>
0x64d1478C2441d140cFC6A8B0531551A84EFd772B